{
  "printWidth": 120,
  "tabWidth": 2,
  "embeddedLanguageFormatting": "auto",
  "plugins": ["@shufo/prettier-plugin-blade"],
  "overrides": [
    {
      "files": ["*.blade.php"],
      "options": {
        "parser": "blade",
        "extraLiners": "",
        "indentInnerHtml": true,
        "printWidth": 120,
        "sortHtmlAttributes": "code-guide",
        "tabWidth": 2
      }
    }
  ]
}
