/* Custom CSS */
.bg-custom-image {
  background-image: url("../img/others/csta-dashboard.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 25rem;
}
.tom-page-w {
  width: 80px;
}
.red-mark {
  color: #ff0000;
}
.navbar-brand-logo-mini {
  width: 2rem;
}
.card-body-height {
  max-height: 300px;
  overflow-y: auto;
}
